[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==20.2.2"
"discord.py" = "==1.4.1"
aiohttp = "==3.6.2"
requests = "==2.24.0"
xlrd = "==1.2.0"

[requires]
python_version = "3.6.12"
